<!DOCTYPE html>
<html>
  <title>ChatBot</title>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">

  </head>
  
  <body>
    <center>
      <h1>
        WELCOME TO HEARKEN
      </h1>
    </center>
    <div class="box"></div>
    <div class="boxed">
          <div id="chatbox">
            <p id="botText">
              <span id="bot_res">{{botResponse}}</span>
            </p>
            <div id="userText">
              <ul id="userlist">
              </ul>
          </div>

        <form name ="userText" id="userInput" action="/" method="POST">
          <input name="msg"  id="textInput" type="text">
          <input type="submit" id="send_btn" onclick="dis()" value="send">
        </form>
        
      </div>
      <script type="text/javascript">
        let user_msg=document.getElementById('textInput');
        let btn=document.getElementById('send_btn')

        let botText=document.getElementById('botText')
        
        let usermsg_span=document.getElementById('userlist');

        let elm=document.getElementById('userText');

        let list1=document.createElement('li');
        

        let span1=document.createElement('span');
        
        let textInput=document.getElementById("textInput");

        let bot_txt=document.getElementById("bot_res");
        
        

        if ({{emotion_num}}==0)
        {
           "****alert the family or friend using twilio****"
          span1.textContent="you seem angry. I know the whole world sucks sometimes,but we gotta keep our cool and move on.";
          botText.appendChild(span1);
          console.log({{emotion_num}});
        }
        
        if ({{emotion_num}}==2)
        {
          "****alert the authorities using twilio****"

          span1.textContent="just be calm and alert, and provide your  friend's/family member's number with country code followed by your name.";
          botText.appendChild(span1);
          console.log({{emotion_num}});
        }
        if ({{emotion_num}}==6)
        {
          "****alert the family or friend using twilio****"

          span1.textContent="We all have our lows and highs. These times test us and we need to keep our hearts strong and face it with all of our might.Just believe and everything's gonna be fine";
          botText.appendChild(span1);
          console.log({{emotion_num}});
        }
        if ({{emotion_num}}==7 || {{emotion_num}}==7 )
        {
          span1.textContent="There are times when we regret the choices we make, but even then we have our options, whether to keep on thinking about the mistakes or take a choice to somehow mend it. The choices we make at this point makes all the difference my friend :";
          botText.appendChild(span1);
          console.log({{emotion_num}});
        }
        function dis()
        {
            list1.textContent=user_msg.value;
            usermsg_span.appendChild(list1);
           
        }
      </script>
    </div>
  </body>
</html>
